#page-wrapper .bloc {
}
#trombi .resume {
  padding: 5px;
  font-style: italic;
}
#trombi .item.standby{
  display: none;
  opacity:0;
}
#trombi .item.visible{
  display:block:

}
#trombi .item {
  border: 1px solid transparent;
  display: block;
  float: left;
  height: 180px;
  margin: 4px;
  text-align: center;
  width: 120px;
}
#trombi .item .picture {
  display: block;
  height: 104px;
}
#trombi .item img {
  border: 2px solid transparent;
}
#trombi .item .login, #trombi .item .title {
  display: block;
  text-align: center;
}
#trombi .buttons .showmore {
  width: 100%;
  margin: 10px auto;
  text-align: center;
  clear:both;
}
a.button {
  color: #2A2A2A;
  padding:1%;
}
.button {
  color: black;
  display: inline-block;
  font-size: 14px;
  background-position: right 0;
  line-height: 14px;
  overflow: hidden;
  cursor: pointer;
  vertical-align: top;
  background-color: #CCC;
  border-radius: 2px;
}
#trombi a.item:hover {
  border-color: #0A246A;
}

.uidnumber, .uid, .gidnumber, .first-name, .last-name, .alias, .dn, .other{
  display:none !important;
}
