/* line 17, ../../../../../../../../../../../nfs/zfs-student-3/users/2013/mpillet/.gem/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../nfs/zfs-student-3/users/2013/mpillet/.gem/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../nfs/zfs-student-3/users/2013/mpillet/.gem/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../nfs/zfs-student-3/users/2013/mpillet/.gem/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../nfs/zfs-student-3/users/2013/mpillet/.gem/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../nfs/zfs-student-3/users/2013/mpillet/.gem/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../nfs/zfs-student-3/users/2013/mpillet/.gem/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../nfs/zfs-student-3/users/2013/mpillet/.gem/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../nfs/zfs-student-3/users/2013/mpillet/.gem/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/bloc.scss */
.bloc {
  position: relative;
  background: rgba(0, 0, 0, 0.05);
  border: 1px dashed rgba(0, 0, 0, 0.2);
  padding: 1em;
  margin-bottom: 1em;
  margin-top: 2em;
}
/* line 8, ../scss/bloc.scss */
.bloc > h3 {
  position: absolute;
  left: 0;
  top: -30px;
  height: 30px;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  line-height: 18px;
}

/* line 24, ../scss/bloc.scss */
form input[type=text], form input[type=password], form input[type=number], form textarea {
  font-size: 16px;
  padding: .5em;
}
/* line 28, ../scss/bloc.scss */
form input[type=text] {
  min-width: 400px;
}
/* line 31, ../scss/bloc.scss */
form .field {
  margin-bottom: 1em;
}
/* line 33, ../scss/bloc.scss */
form .field:last-child {
  margin-bottom: 0;
}
/* line 37, ../scss/bloc.scss */
form .full {
  display: block;
  width: 100%;
}

/* line 1, ../scss/table.scss */
table {
  width: 100%;
}
/* line 3, ../scss/table.scss */
table tr {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}
/* line 5, ../scss/table.scss */
table tr:last-child {
  border-bottom: none;
}
/* line 8, ../scss/table.scss */
table tr:hover {
  background: rgba(0, 0, 0, 0.05);
}
/* line 11, ../scss/table.scss */
table tr td {
  padding: 1em;
}
/* line 13, ../scss/table.scss */
table tr td.full {
  width: 100%;
}
/* line 16, ../scss/table.scss */
table tr td.right-aligned {
  text-align: right;
}
/* line 19, ../scss/table.scss */
table tr td.mini {
  width: 20px;
}
/* line 21, ../scss/table.scss */
table tr td.mini i {
  font-size: 13px;
}
/* line 25, ../scss/table.scss */
table tr td.small {
  width: 100px;
}
/* line 28, ../scss/table.scss */
table tr td.actions {
  text-align: right;
  min-width: 250px;
}
/* line 31, ../scss/table.scss */
table tr td.actions > a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
/* line 35, ../scss/table.scss */
table tr td.actions i {
  background: transparent;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 30px;
  text-align: center;
  padding-top: 6px;
}
/* line 44, ../scss/table.scss */
table tr td.actions i.icon-pencil:hover {
  background-color: #bfd28a;
  color: white;
}
/* line 48, ../scss/table.scss */
table tr td.actions i.icon-remove:hover {
  background-color: #b45858;
  color: white;
}

@font-face {
  font-family: "Open Sans";
  src: url('/css/fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Open Sans Bold";
  src: url('/css/fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Open Sans Light Italic";
  src: url('/css/fonts/open-sans/OpenSans-LightItalic.ttf') format('truetype');
}

/* line 3, ../scss/smart-list.scss */
ul.smart-list {
  display: flex;
  flex-wrap: wrap;
}
/* line 6, ../scss/smart-list.scss */
ul.smart-list > li {
  min-width: 150px;
}
/* line 8, ../scss/smart-list.scss */
ul.smart-list > li > a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Open Sans Bold";
  display: block;
  background: rgba(0, 0, 0, 0.2);
  margin: 0 1em 1em 0;
  text-align: center;
  padding: 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
/* line 19, ../scss/smart-list.scss */
ul.smart-list > li > a > i {
  font-size: 48px;
  display: block;
  padding: 20px 0;
}
/* line 24, ../scss/smart-list.scss */
ul.smart-list > li > a:hover {
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);
}

@font-face {
  font-family: "Open Sans";
  src: url('/css/fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Open Sans Bold";
  src: url('/css/fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Open Sans Light Italic";
  src: url('/css/fonts/open-sans/OpenSans-LightItalic.ttf') format('truetype');
}

/* line 61, ../../../../../../../../../../../nfs/zfs-student-3/users/2013/mpillet/.gem/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../../../../../../nfs/zfs-student-3/users/2013/mpillet/.gem/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 17, ../scss/ui-shop.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../scss/ui-shop.scss */
body {
  font-family: "Open Sans";
  padding: 1em;
  color: rgba(0, 0, 0, 0.8);
}

/* line 25, ../scss/ui-shop.scss */
strong {
  font-family: "Open Sans Bold";
}

/* line 29, ../scss/ui-shop.scss */
.btn {
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #FEA347;
  padding: 10px;
  border: none;
  border: 1px solid #B36700;
  cursor: pointer;
  color: #B36700;
  font-size: 16px;
  text-shadow:  0 1px 0;
}
/* line 40, ../scss/ui-shop.scss */
.btn:hover {
  background: #EFAA65;
  text-decoration: none;
}
/* line 44, ../scss/ui-shop.scss */
.btn:active {
  border-color: #768d36;
}

/* line 49, ../scss/ui-shop.scss */
a {
  text-decoration: none;
  color: #FEA347;
}
/* line 52, ../scss/ui-shop.scss */
a:hover {
  text-decoration: underline;
}

/* line 57, ../scss/ui-shop.scss */
img {
  display: block;
}

/* line 62, ../scss/ui-shop.scss */
body > header {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.5em;
}
@media screen and (max-width: 970px) {
  /* line 62, ../scss/ui-shop.scss */
  body > header {
    flex-wrap: wrap;
  }
  /* line 69, ../scss/ui-shop.scss */
  body > header > div {
    width: 100%;
    text-align: center;
  }
}
/* line 74, ../scss/ui-shop.scss */
body > header > ul {
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  padding-top: .25em;
  padding-left: .25em;
  margin-left: auto;
}
@media screen and (max-width: 970px) {
  /* line 74, ../scss/ui-shop.scss */
  body > header > ul {
    margin-left: 0;
    width: 100%;
    flex-direction: column-reverse;
  }
}
/* line 85, ../scss/ui-shop.scss */
body > header > ul > li {
  border: 1px solid red;
  padding: .25em;
  margin-right: .25em;
  margin-bottom: .25em;
}

/* line 95, ../scss/ui-shop.scss */
.container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.75em;
}
@media screen and (max-width: 970px) {
  /* line 95, ../scss/ui-shop.scss */
  .container {
    flex-wrap: wrap;
  }
}
/* line 102, ../scss/ui-shop.scss */
.container > nav {
  margin-right: 2em;
  width: 350px;
}
@media screen and (max-width: 970px) {
  /* line 102, ../scss/ui-shop.scss */
  .container > nav {
    width: 100%;
    margin: 0;
    margin-bottom: 1em;
  }
}
/* line 110, ../scss/ui-shop.scss */
.container > nav > ul {
  width: 350px;
  margin-bottom: 1em;
  background: #e6e6e6;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
}
@media screen and (max-width: 970px) {
  /* line 110, ../scss/ui-shop.scss */
  .container > nav > ul {
    width: 100%;
    margin: 0;
    margin-bottom: 1em;
  }
}
/* line 124, ../scss/ui-shop.scss */
.container > nav > ul > li {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 125, ../scss/ui-shop.scss */
.container > nav > ul > li.validate {
  border-top: none;
}
/* line 127, ../scss/ui-shop.scss */
.container > nav > ul > li.validate .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 131, ../scss/ui-shop.scss */
.container > nav > ul > li.active {
  background: rgba(0, 0, 0, 0.6);
}
/* line 133, ../scss/ui-shop.scss */
.container > nav > ul > li.active > a {
  color: white;
  text-shadow: none;
}
/* line 138, ../scss/ui-shop.scss */
.container > nav > ul > li > a, .container > nav > ul > li span.title {
  display: block;
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  padding-left: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
/* line 139, ../scss/ui-shop.scss */
.container > nav > ul > li > a > i, .container > nav > ul > li span.title > i {
  margin-right: 1em;
}
@media screen and (max-width: 970px) {
  /* line 138, ../scss/ui-shop.scss */
  .container > nav > ul > li > a, .container > nav > ul > li span.title {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }
}
/* line 155, ../scss/ui-shop.scss */
.container > nav > ul > li:first-child {
  border-top: none;
}
/* line 161, ../scss/ui-shop.scss */
.container > section {
  min-height: 600px;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px 10px 10px 10px;
}
@media screen and (max-width: 970px) {
  /* line 161, ../scss/ui-shop.scss */
  .container > section {
    width: 100%;
    flex: initial;
  }
}

/* line 172, ../scss/ui-shop.scss */
body > footer {
  border-top: 1px dashed rgba(0, 0, 0, 0.1);
  padding-top: 1em;
}
/* line 175, ../scss/ui-shop.scss */
body > footer > .lists {
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* line 180, ../scss/ui-shop.scss */
body > footer > .lists > ul {
  min-width: 350px;
}
/* line 184, ../scss/ui-shop.scss */
body > footer > .copyright {
  text-align: right;
  margin-top: 1em;
  padding: 1em;
  font-size: 13px;
}

/* line 193, ../scss/ui-shop.scss */
h1 {
  font-family: "Open Sans Light Italic";
  color: #FEA347;
  font-size: 2em;
  line-height: 2em;
  padding-left: .5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 202, ../scss/ui-shop.scss */
ul.articles-list {
  display: flex;
  flex-wrap: wrap;
}
/* line 207, ../scss/ui-shop.scss */
ul.articles-list > li:hover .name {
  background: #bfd28a;
}

/* line 214, ../scss/ui-shop.scss */
ul.articles-list > li > a {
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
}
/* line 220, ../scss/ui-shop.scss */
ul.articles-list > li > a > img {
  width: 200px;
  height: 200px;
}

/* line 226, ../scss/ui-shop.scss */
ul.articles-list > li > a > .name {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  padding: 1em;
  background: rgba(0, 0, 0, 0.5);
}

/* line 236, ../scss/ui-shop.scss */
ul.articles-list > li > a > .price {
  position: absolute;
  top: 5px;
  right: 5px;
}

/* line 242, ../scss/ui-shop.scss */
.article {
  position: relative;
}
/* line 244, ../scss/ui-shop.scss */
.article .price {
  position: absolute;
  top: -92px;
  right: 0;
  font-family: "Open Sans Bold";
  font-size: 36px;
  display: block;
  width: 130px;
  height: 130px;
  border-radius: 130px;
  background: white;
  border: 2px solid #bfd28a;
  padding-top: 52px;
  text-align: center;
}
/* line 258, ../scss/ui-shop.scss */
.article > img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* line 265, ../scss/ui-shop.scss */
ul.errors {
  margin-bottom: .5em;
  background: rgba(154, 77, 77, 0.3);
  color: #9a4d4d;
  padding: 1em 1em 1em 2em;
  border: 1px solid rgba(154, 77, 77, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  list-style-type: disc;
}
/* line 273, ../scss/ui-shop.scss */
ul.errors.unstyled {
  list-style-type: none;
  padding-left: 1em;
}

/* line 279, ../scss/ui-shop.scss */
.success {
  margin-bottom: .5em;
  background: rgba(90, 134, 67, 0.3);
  color: #5a8643;
  padding: 1em 1em 1em 1em;
  border: 1px solid rgba(90, 134, 67, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 288, ../scss/ui-shop.scss */
.flex-centered {
  display: flex;
  align-items: center;
}
/* line 291, ../scss/ui-shop.scss */
.flex-centered img {
  margin: 1em;
}

/* line 296, ../scss/ui-shop.scss */
hr {
  border: none;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

/* line 301, ../scss/ui-shop.scss */
.present-list {
  display: flex;
  flex-wrap: wrap;
}
/* line 304, ../scss/ui-shop.scss */
.present-list > li {
  margin-right: 1em;
  margin-bottom: 1em;
}
/* line 308, ../scss/ui-shop.scss */
.present-list img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* line 310, ../scss/ui-shop.scss */
.present-list img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}

/* line 316, ../scss/ui-shop.scss */
.header-right {
  margin-left: auto;
  padding: .5em;
  border: 1px dashed rgba(0, 0, 0, 0.1);
  color: orange;
}
/* line 320, ../scss/ui-shop.scss */
.header-right form {
  width: 300px;
}
/* line 322, ../scss/ui-shop.scss */
.header-right form input[type=text], .header-right form input[type=password] {
  min-width: 0;
  width: 100%;
}
/* line 327, ../scss/ui-shop.scss */
.header-right a {
  margin-top: 5px;
}

/* line 332, ../scss/ui-shop.scss */
ul.selection {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}
/* line 336, ../scss/ui-shop.scss */
ul.selection > li {
  font-size: 13px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 342, ../scss/ui-shop.scss */
ul.selection > li a {
  color: rgba(0, 0, 0, 0.7);
}
/* line 345, ../scss/ui-shop.scss */
ul.selection > li.selected {
  background: #bfd28a;
}

/* line 352, ../scss/ui-shop.scss */
ul.cart ul {
  margin: 0 1em 1em 1em;
  padding: 3px;
}
/* line 355, ../scss/ui-shop.scss */
ul.cart ul > li {
  background: white;
  display: flex;
  margin-bottom: 5px;
}
/* line 359, ../scss/ui-shop.scss */
ul.cart ul > li span.quantity {
  background: red;
  padding: 0 3px;
  margin-right: 5px;
  font-family: "Open Sans Bold";
  color: white;
  background: rgba(0, 0, 0, 0.6);
  text-shadow: none;
}
/* line 368, ../scss/ui-shop.scss */
ul.cart ul > li a {
  margin-left: auto;
  margin-right: 5px;
  color: #b45858;
}
/* line 372, ../scss/ui-shop.scss */
ul.cart ul > li a:hover {
  text-decoration: none;
}
