{% extends "::base.html.twig" %}

{% block body3 %}
{%- spaceless -%}
<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> Board<b class="caret"></b></a>
					<ul class="dropdown-menu">
							{%- block sidebar -%}
							{%- endblock sidebar -%}
					</ul>
					</li>
{%- endspaceless -%}
{% endblock body3 %}
{% block body2 %}
{%- spaceless -%}
				<div class="container clearfix">
					<br>
				        <div class="col-md-10 page-body-right">
							<div id="top clearfix"></div>
				            {%- block body -%}
							{%- endblock body -%}
				        </div>
			        </div>
				</div>

{%- endspaceless -%}
{% endblock body2%}
{% block javascripts %}
		<script src="{{ asset('js/jquery-1.10.2.js') }}"></script>
		<script src="{{ asset('js/bootstrap.js') }}"></script>
		<script type='text/javascript'>
		<!--
			$(document).ready(function() {
				// make visible js compat toolbars site wide
				$("[data-js-non-compat]").each(function(i, el) {
					$(el).addClass('collapse').addClass('hidden');
				});
				$("[data-js-compat]").each(function(i, el) {
					$(el).removeClass('collapse').removeClass('hidden');
				});
				$('[data-tip]').each(function() {
					$(this).tooltip({
						html: true,
						placement: $(this).data('tip')
					});
				});
				$('[data-toggle="dropdown"]').dropdown();
			});
		//-->
</script>
{% endblock %}
