{% extends "::base.html.twig" %}

{% block title%}Modules{% endblock %}
{% block body %}
<h1>Modules</h1>
<ul class="nav nav-list bs-docs-sidenav">
    {% for m in mods %}
	<div class="highlight">
		<li>
			<a href="{{ path('philemon_module_show', {'id': m.id}) }}">{{ m.name|e }}</a>
		</li>
	</div>
    {% endfor %}
</ul>
{% endblock %}
