{% extends "::base.html.twig" %}
{% block body %}
<div class="highlight">
<h4>{{'Vous avez d&eacute;j&agrave; &eacute;valu&eacute; la notation! '}}</h4>
{{ 'Note: ' ~ all.rate ~ ' / 5'}}</br>
{{'commentaire:'~  all.ratetext }}
</div>
{% endblock %}
